$color-red-700: #a61a19;
$color-red-600: #d52220;
$color-red-500: #ee2624;
$color-red-400: #f1514f;
$color-red-300: #f47c7b;
$color-red-100: #fbcbcb;
$color-red-50: #fde5e4;
$color-red-25: #fef2f2;
$color-red-border-coloured: #fde5e4;
$color-green-700: #336f48;
$color-green-600: #449460;
$color-green-500: #55ba78;
$color-green-400: #77c793;
$color-green-300: #99d5ae;
$color-green-100: #d6efdf;
$color-green-50: #eaf6ee;
$color-green-25: #f5fbf7;
$color-green-border-coloured: #eaf6ee;
$color-cyan-700: #0d8183;
$color-cyan-600: #11a7a9;
$color-cyan-500: #14babd;
$color-cyan-400: #43c7ca;
$color-cyan-300: #72d5d7;
$color-cyan-100: #c7efef;
$color-cyan-50: #e2f6f7;
$color-cyan-25: #f1fbfb;
$color-cyan-border-coloured: #e2f6f7;
$color-orange-700: #a64b09;
$color-orange-600: #d5600c;
$color-orange-500: #ee6c0e;
$color-orange-400: #f1893e;
$color-orange-300: #f4a66e;
$color-orange-100: #fbdcc5;
$color-orange-50: #fdede2;
$color-orange-25: #fef6f1;
$color-orange-border-coloured: #fdede2;
$color-yellow-600: #997600;
$color-yellow-500: #cc9e00;
$color-yellow-400: #ffc600;
$color-yellow-300: #ffd133;
$color-yellow-200: #ffdc66;
$color-yellow-50: #fff2c2;
$color-yellow-25: #fff8e0;
$color-yellow-10: #fffcf0;
$color-yellow-border-coloured: #fff8e0;
$color-blue-900: #0d2168;
$color-blue-800: #112b86;
$color-blue-700: #133096;
$color-blue-600: #4259ab;
$color-blue-500: #7182c0;
$color-blue-200: #c7cee6;
$color-blue-50: #e2e6f2;
$color-blue-25: #f1f3f9;
$color-blue-border-coloured: #e2e6f2;
$color-purple-700: #443d83;
$color-purple-600: #584fa8;
$color-purple-500: #6258bc;
$color-purple-400: #8179c9;
$color-purple-300: #a09ad6;
$color-purple-100: #dad7ef;
$color-purple-50: #ecebf7;
$color-purple-25: #f6f5fb;
$color-purple-border-coloured: #ecebf7;
$color-grey-900: #0f1e29;
$color-grey-800: #27343e;
$color-grey-700: #3f4b53;
$color-grey-600: #576169;
$color-grey-500: #6f787e;
$color-grey-400: #878e94;
$color-grey-300: #9fa5a9;
$color-grey-200: #b7bbbf;
$color-grey-100: #cfd2d4;
$color-grey-50: #e7e8ea;
$color-grey-25: #f2f3f4;
$color-grey-10: #fafafa;
$color-grey-border-grey: #f2f3f4;
$color-white: #ffffff;
$color-near-white: #fafafa;
$color-black: #000000;
$color-near-black: #222222;

$box-shadow-lv-1: 0 -2px 8px 0 rgba(0, 0, 0, 0.1),
  0 4px 8px 0 rgba(0, 0, 0, 0.1);
$box-shadow-lv-2: 0 -4px 16px 0 rgba(0, 0, 0, 0.1),
  0 8px 16px 0 rgba(0, 0, 0, 0.1);
$box-shadow-lv-3: 0 -8px 32px 0 rgba(0, 0, 0, 0.1),
  0 16px 32px 0 rgba(0, 0, 0, 0.1);
$box-shadow-lv-4: 0 -16px 64px 0 rgba(0, 0, 0, 0.1),
  0 32px 64px 0 rgba(0, 0, 0, 0.1);

$button-transition-background: background-color 250ms
  cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$black-opacity-10: rgba(0, 0, 0, 0.1);
$black-opacity-075: rgba(0, 0, 0, 0.075);
$black-opacity-05: rgba(0, 0, 0, 0.05);
$black-opacity-025: rgba(0, 0, 0, 0.025);

$color-primary: $color-red-500;
$color-secondary: $color-orange-500;
$color-success: $color-green-500;
$color-warning: $color-orange-500;
$color-sub: $color-grey-500;
$color-link: $color-blue-700;
$color-invert: $color-white;
$color-error: $color-red-500;
$color-disable: $color-grey-200;
$color-default: $color-black;

$color-logo: #d9292a;
