$spacing-unit: 0.4rem;

$spacing_xs: $spacing-unit * 1;
$spacing_sm: $spacing-unit * 2;
$spacing_md: $spacing-unit * 3;
$spacing_lg: $spacing-unit * 4;
$spacing_xl: $spacing-unit * 5;
$spacing_2xl: $spacing-unit * 6;
$spacing_3xl: $spacing-unit * 7;
$spacing_4xl: $spacing-unit * 8;

@function spacing($variant) {
  @return $spacing-unit * $variant;
}

$radius-unit: 4px;
$radius-light: $radius-unit / 2;
$radius-regular: $radius-unit;
$radius-bold: $radius-unit * 2;
$radius-max: 90px;

@function radius($variant) {
  @return $radius-unit * $variant;
}