@import '../../styles/variables.scss';

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$loader-height: 64px;
$loader-width: 64px;

.loading {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &.type-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $backdrop-index;
  }
}

.loader {
  z-index: 1;
  position: relative;
  width: $loader-width;
  height: $loader-height;
  background: $color-white;
  border-radius: $radius-max;
}

.circle {
  z-index: 1;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: $loader-width;
  height: $loader-height;
  animation: rotating 0.75s linear infinite;
}

.image {
  width: 50vh;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $backdrop-index;
}

.grey {
  background-color: rgba($color-grey-900, 0.5);
}
